body{
	text-decoration		: none;
	font-family			: Arial;
	padding				: 10px 10px 10px 10px;
	background-color	: #DDDDFF;
	text-decoration		: none;
	text-align 			: left;
	font-size			: 70px;
}

.liste{
	text-decoration		: none;
	margin-left			: 10pxauto;
	margin-right		: 10pxauto;
	padding				: 10px 10px 10px 10px;
	text-align 			: center;
	font-size			: 25px;
	border-radius		: 10px;
	background-color	: #FFFFFF;
}

.popol{
	text-decoration		: none;
	margin-left			: 10pxauto;
	margin-right		: 10pxauto;
	padding				: 10px 10px 10px 10px;
	text-align 			: center;
	font-size			: 20px;
	color				: #000000;
	border-radius		: 10px;
	background-color	: #FFFFFF;
}